
/**
MODAL
 */
.my-modal {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  margin: 0 auto;
}

.tag {
  background-color: purple;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 20px;
  display: inline-block;
  color: white;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}
