/* You can add global styles to this file, and also import other style files */

.gender { padding: 20px }
.male { color: blue }
.female { color: pink  }

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 10;
  background-color: gray;
}
.bg { background-color: purple}
